.nav {
  display: block;
  position: absolute;
  top: 0;
  right: -50%;
  transition: all .6s linear;
  -webkit-transition: all .6s linear;
  -moz-transition: all .6s linear;
  -ms-transition: all .6s linear;
  -o-transition: all .6s linear;
}

.socialActive {
  display: block;
  position: absolute;
  top: 7;
  right: 0%;
}

.ss-icon {
  margin: auto;
}

.ss-icon span {
  font-size: 40px;
  color: #fff;
  display: inline-block;
  float: left;
  margin-right: 10px;
  transition: .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.ss-icon span:hover {
  color: #f863a8;
}

.fa {
  color: #FFCB44;
}

body {
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FF8D6F 0%, #FF4716 100%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FF8D6F 0%, #FF4716 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FF8D6F 0%, #FF4716 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FF8D6F), color-stop(1, #FF4716));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FF8D6F 0%, #FF4716 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #FF8D6F 0%, #FF4716 100%);
  /* old green background
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #C3E4A0 0%, #8CC152 100%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #C3E4A0 0%, #8CC152 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #C3E4A0 0%, #8CC152 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #C3E4A0), color-stop(1, #8CC152));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #C3E4A0 0%, #8CC152 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #C3E4A0 0%, #8CC152 100%);
  */
}

#scroll {
  text-align: center;
  margin-top: 135px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0px 1px 3px #FFB800;
}

.post {
  width: 80%;
  margin: 0 auto;
  background-color: #FFD76F;
  border-radius: 5px;
  box-shadow:20px 20px 50px 20px #FF3500;
  -moz-box-shadow: 0 1px 2px #FF3500#FF3500;
  -webkit-box-shadow: 0 1px 3px #FF3500;
}

.post > h1 {
  font-size: 200%;
  color: #fff;
  font-weight: 700px;
  text-shadow: 0px 1px 3px #07ABFB;
  margin: 1em;
}
.post > p {
  margin: 1em;
  text-indent: 25px;
}

.header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #4dc3ff;
  color: white;
  transition: all .2s linear -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
}

.headerActive {
  height: 60px;
}

body {
  height: 2000px;
  font-family: 'Playfair Display', serif;
}

.head {
  margin-left: 33px;
  margin-top: 12px;
  list-style-type: none;
  font-size: 500%;
  font-weight: 700;
  font-family: Orbitron;
  letter-spacing: 20px;
  text-shadow:4px 4px 3px #FF3500;
  display: block;
  text-align: center;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.headActive {
  font-size: 30px;
  transform: translateX(-45%);
  -ms-transform: translateX(-45%);
  -webkit-transform: translateX(-45%);
}

.fa-facebook:hover {
  color: red;
}
