<html>

<head>
  <title>Sticky Header</title>
  <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway:900|Playfair+Display" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!--start of social header-->
  <header class='header'>
    <div class='head'>ZH<span id="tagline"></span></div>
    <nav class='nav'>
      <section class="ss-icon">
        <span><a href="http://www.facebook.com/zhughes3"><i class="fa fa-facebook"></i></a></span>
        <span><a href="https://www.linkedin.com/in/zacharythughes/"><i class="fa fa-linkedin"></i></a></span>
        <span><a href="http://www.github.com/zhughes3"><i class="fa fa-github"></i></a></span>
      </section>
    </nav>
  </header>
  <!--end of social header-->

  <h1 id='scroll'>Chronicling My Pursuit of Happiness</h1>

  <div class="post">
    <h1>Compiler Design</h1>
    <p>My most enjoyable class this semester has been COMP 520, Compilers, with Dr. Jan Prins. This is known as being one
    of the most difficult courses in the Computer Science curriculum here at UNC.  And difficult it is - like practically
    every other 400+ level class I've taken. But this one has been the most interesting because it does an amazing job of combining
    advanced theory with practical software engineering experience. At the end of the semester, each of us in the class will
    have built a compiler for a subset of the Java Programming Language, which we call "miniJava".</p>
    <p>miniJava supports classes, int and boolean types, along with many other aspects of Java. It does not support inheritance
    of method overloaded in its current form but can be updated in the future. This assignment was broken down into four major
    components of the compilation process:
    </p>
    <ol>
      <li>Syntactic analysis</li>
      <li>Abstract Syntax Trees</li>
      <li>Contextual and Type Analysis</li>
      <li>Code Generation</li>
    </ol>
    <p>During each step, we created the necessary classes needed. Over the next few weeks, I will go into greater detail about the steps
    I took to build this compiler, hopefully enlightening many of you readers in the process.</p>
  </div>

  <div class="post">
    <h1>Compiler Design</h1>
    <p>My most enjoyable class this semester has been COMP 520, Compilers, with Dr. Jan Prins. This is known as being one
    of the most difficult courses in the Computer Science curriculum here at UNC.  And difficult it is - like practically
    every other 400+ level class I've taken. But this one has been the most interesting because it does an amazing job of combining
    advanced theory with practical software engineering experience. At the end of the semester, each of us in the class will
    have built a compiler for a subset of the Java Programming Language, which we call "miniJava".</p>
    <p>miniJava supports classes, int and boolean types, along with many other aspects of Java. It does not support inheritance
    of method overloaded in its current form but can be updated in the future. This assignment was broken down into four major
    components of the compilation process:
    </p>
    <ol>
      <li>Syntactic analysis</li>
      <li>Abstract Syntax Trees</li>
      <li>Contextual and Type Analysis</li>
      <li>Code Generation</li>
    </ol>
    <p>During each step, we created the necessary classes needed. Over the next few weeks, I will go into greater detail about the steps
    I took to build this compiler, hopefully enlightening many of you readers in the process.</p>
  </div>

  <div class="post">
    <h1>Compiler Design</h1>
    <p>My most enjoyable class this semester has been COMP 520, Compilers, with Dr. Jan Prins. This is known as being one
    of the most difficult courses in the Computer Science curriculum here at UNC.  And difficult it is - like practically
    every other 400+ level class I've taken. But this one has been the most interesting because it does an amazing job of combining
    advanced theory with practical software engineering experience. At the end of the semester, each of us in the class will
    have built a compiler for a subset of the Java Programming Language, which we call "miniJava".</p>
    <p>miniJava supports classes, int and boolean types, along with many other aspects of Java. It does not support inheritance
    of method overloaded in its current form but can be updated in the future. This assignment was broken down into four major
    components of the compilation process:
    </p>
    <ol>
      <li>Syntactic analysis</li>
      <li>Abstract Syntax Trees</li>
      <li>Contextual and Type Analysis</li>
      <li>Code Generation</li>
    </ol>
    <p>During each step, we created the necessary classes needed. Over the next few weeks, I will go into greater detail about the steps
    I took to build this compiler, hopefully enlightening many of you readers in the process.</p>
  </div>

  <footer class="footer">
    <span> 	&copy; 2017 </span>
  </footer>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>
